<div class="container">
  <div class="row">
    <div class="col-11">
      <h3 class="lead mt-3 ml-2">Post List</h3>
      <table class="mx-auto  table">
        <thead>
          <tr>
            <th></th>
            <th>投稿写真</th>
            <th>User</th>
            <th>撮影場所</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post_photos.each do |post_photo| %>
          <tr>
            <td><%= post_photo.id %></td>
            <td>
              <%= link_to admin_post_photo_path(post_photo.id) do %>
              <%= image_tag post_photo.get_image,:size => '160x100',class:"img-fluid" %>
              <% end %>
            </td>
            <td><%= post_photo.poster.user_name %></td>
            <td><%= post_photo.address %></td>
            <td>
              <%= link_to "投稿を削除",admin_post_photo_path(post_photo.id),method: :delete,
              data: {confirm: "管理側から投稿を削除します、本当に削除しても良い投稿か確認してからボタンを押してください。" },
              class:"btn btn-danger btn-sm" %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
      <%= paginate @post_photos %>
    </div>
  </div>
</div>