<h2 class="mb-5">  </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="text-center">
    <%= f.text_field :user_name, autofocus: true,placeholder: "ユーザネーム※@sample",class:"" %>
    <%= f.text_field :name, autofocus: true,placeholder: "ニックネーム",class:"mb-5" %>
  </div>

  <div class="text-center">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Eメール",class:"mb-5", :size=>"40" %>
  </div>

  <div class="text-center">
    
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "パスワード(6文字以上)",class:"" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード(確認用)",class:"mb-3" %>
  </div>

  <div class="text-center">
    <%= f.submit "Sign up",class:"btn btn-outline-dark" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
