<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mx-auto">
     <%= image_tag @post_photo.get_image,:size=>'300x200',class:"d-block text-center mx-auto" %>
      <%= form_with model: @post_photo,url: post_photo_path(@post_photo.id),method: :patch do |f| %>
       <table class="mx-auto">
         <tr>
           <td><%= f.label :introduction,"Caption",class:"lead" %></td>
         </tr>
           <tr>
            <td class="ml-3"><%= f.text_area :introduction,size: '40x5',class:"ml-4" %></td> 
           </tr>
         <tr>
           <td><%= f.label :address,"Spot",class:"lead" %><br>
             <%= f.hidden_field :address,size: '40',id: :spot %>
             <span class="ml-4  small">Рђ╗УеўтЁЦтЙї­ЪћЇсЃюсѓ┐сЃ│сѓњт┐ЁсЂџТі╝сЂЌсЂдсЂЈсЂасЂЋсЂёсђѓ</span><br>
             <%= f.hidden_field :latitude, id: 'lat' %>
             <%= f.hidden_field :longitude, id: 'lng' %>
             <%= render'map' %>
           </td>
         </tr>
         <tr>
           <td><%= f.submit "Edit",class:"btn btn-outline-dark btn-sm d-block mx-auto px-3 mt-1" %></td>
         </tr>
       </table>
      <% end %>
    </div>
  </div>
</div>