<div class="container">
  <div class="row">
    <div class="col-8">
      <h4 class="mt-3">Post a Photo</h4>
    </div>
      <div class="col-3">
        <%= form_with url: search_post_photos_path, local: true, method: :get do |form| %>
           <%= form.text_field :keyword ,class:"mt-3"%>
           <%= form.submit "検索" %>
         <% end %>
      </div>
      <div class="row">
        <div class="col-5">
       <% @post_photos.each do |post_photo| %>
       <%= image_tag post_photo.get_image(100,100),:size => '300x200',class:"mb-4" %>
        </div>
        <div class="col-6 mt-4">
          <%= post_photo.address %><br class="mb-4">
          <%= post_photo.introduction %>
        </div>
       <% end %>

      </div>
    </div>
</div>