<div class="container">
  <div class="row">
    <div class="col-lg-7 col-sm-8">
      <h4 class="mt-3 lead">Post a Photo</h4>
    </div>
      <div class="col-lg-5 col-md-8">
        <%= form_with url: search_post_photos_path, method: :get, local: true do |f| %>
         <%= f.text_field :search, class: 'mt-3 mb-5', placeholder: "キーワード検索",:size=>"30"  %>
         <%= f.button :type => "submit" do %>
         <i class="fas fa-search"></i>
         <% end %>
        <% end %>
      </div>
      </div>
      <div class="row">
         <% @post_photos.reverse.each do |post_photo| %>
        <div class="col-lg-2 col-xl-2 col-0"></div>
        <div class="col-10 col-lg-7 col-xl-7 px-3 bg-white border-bottom w-100 mb-2 mx-5">
         <%= link_to post_photo_path(post_photo.id) do %>
         <%= image_tag post_photo.get_image(100,100),class:"mt-4 img-fluid" %>
         <% end %>
         <%= link_to poster_path(post_photo.poster),class:"btn text-dark" do %>
         <%= image_tag post_photo.poster.get_image(10,10),:size => '40x40',class:"rounded-circle" %>
         <%= post_photo.poster.user_name %><% end %><br>
         <p class="lead mb-0 border-bottom w-75">Spot</p>
         <div class="mt-1"><%= post_photo.address %></div><br>
         <p class="lead border-bottom w-75">Caption</p>
         <%=safe_join(post_photo.introduction.split("\n"),tag(:br))%>
         <% if current_poster.user_name != "@guest" %>
      <!-- いいねの記述 -->
      <% if post_photo.favorited_by?(current_poster) %>
       <p class="text-right pt-3">
        <%= link_to post_photo_favorites_path(post_photo), method: :delete do %>
        <span class="text-danger h3"><i class="fa-solid fa-heart"></i></span>
        <% end %>
       </p>
      <% else %>
      <p class="text-right pt-3">
        <%= link_to post_photo_favorites_path(post_photo), method: :post do %>
        <span class="text-dark h3"><i class="fa-regular fa-heart"></i></span>
      <% end %>
      </p>
    <% end %>
    
  <% end %>
  
        </div>
         <% end %>
         
        <div class="col-lg-3 col-xl-3 col-0"></div>
      </div>
</div>