<div class="container">
  <div class="row">
    <div class="col-1 col-lg-3 col-md-2"></div>
    <div class="col-9 col-lg-5 col-md-6">
  <%= form_with model: @post_photo,url: post_photos_path,method: :post do |f| %>

  <% if @post_photo.errors.any? %>
 <div id="error">
   <div class="errors-text">
  <%= @post_photo.errors.count %>errors prohibited this book from being saved:
  </div>
 <ul>
   <% @post_photo.errors.full_messages.each do |message| %>
   <li class="error-message"><%= message %></li>
   <% end %>
 </ul>
 </div>

 <% end %>
      <%= f.label :image,"Posted Photo",class:"lead mt-3 ml-3" %><br>
      <div class="text-center"><%= f.file_field :image,accept:"image/*" ,class:"ml-4" %><br></div>

      <%= f.label :introduction,"Caption",class:"lead mt-3 ml-3" %><br>
      <div class="text-center"><%= f.text_area :introduction, size: "40x5", class:"ml-4" %><br></div>

      <%= f.label :address,"Spot",class:"lead mt-3 ml-3" %><br>
      <div class="text-center"><%= f.text_field :address,id: :spot,size: "",class:"ml-4" %></div>


          <input id="address" type="textbox" value="",size="40">
          <input type="button" value="検索" onclick="codeAddress()">

          <div id='map'></div>
          <style>
         #map {
          height: 400px;
         width: 400px;
       }
</style>
<script>
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6803997, lng:139.7690174},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.6803997, lng:139.7690174},
    map: map
  });
}

let geocoder
let aft

function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true // ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('spot').value = document.getElementById('address').value;
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('address').value = ev.address();
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA05b9mBfH7_b8PN-JtEcQE1duv1x9-gkk&callback=initMap" async defer></script>

      <div class="text-center mt-3">
      <%= f.submit "Post",class:"btn btn-outline-dark btn-sm px-4 text-center" %>
      </div>

    </div>
  <% end %>
    <div class="col-"></div>
  </div>
</div>