<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <%= image_tag @post_photo.get_image(100,100),:size => '470x320',class:"mt-5" %>
    </div>
    <div class="col-lg-6 col-md-7">
      <%= link_to poster_path(@post_photo.poster.id) do %>
      <%= image_tag @post_photo.poster.get_image(100,100),:size => '80x80',class:"rounded-circle mr-2 mt-2 " %>
      <% end %>
      <%= @post_photo.poster.user_name %>
      <% if current_poster.user_name != "@guest" %>
        <% if @post_photo.poster  == current_poster %>
         <%= link_to "編集",edit_post_photo_path,class:"btn btn-outline-dark" %>
        <% else %>
         <%= link_to "通報",post_photos_path,class:"btn btn-outline-dark" %>
        <% end %>

        <% if @post_photo.poster == current_poster %>
         <%= link_to "削除",post_photo_path(@post_photo.id),method: :delete,class:"btn btn-outline-dark" %>
        <% end %>
      
        <% if current_poster != @post_photo.poster %>
          <% if current_poster.following?(current_poster) %>
            <%= link_to "フォロー解除", poster_relationships_path(@post_photo.poster.id), method: :delete %>
          <% else %>
            <%= link_to "フォローする", poster_relationships_path(@post_photo.poster.id), method: :post %>
          <% end %>
        <% end %>
      <% end %>
      <p class="lead border-bottom">Caption</p>
      <%= @post_photo.introduction %><br>
      <p class="lead border-bottom pt-4">Post</p>
      <%= @post_photo.address %><br>
      <p class="lead border-bottom pt-4">Comment</p>

    </div>
  </div>
</div>