<div class="container">
  <div class="row">
    <div class="col-6">
      <p>Reports</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>通報したUser</th>
            <th>通報されたUser</th>
            <th>投稿番号</th>
            <th>更新日時</th>
          </tr>
        </thead>
        <% @reports.reverse.each do |report| %>
        <tbody>
          <tr>
            <td><%= report.id %></td>
            <td><%= report.reporter.user_name %></td>
            <td><%= report.reported.user_name %></td>
            <td><%= report.post_photo.id %></td>
            <td><%= report.updated_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>