<div class="container">
  <div class="row">
    <div class="col-12 mt-1 mx-auto">
      <%= form_with model: @poster,url: poster_path(@poster.id),method: :patch do |f| %>
      <table class="mx-auto">
        <tr>
          <td><%= f.label :profile_image,"Profile Image",class:"lead mt-3" %><br>
          <%= f.file_field :profile_image,accept: "image/*", class:"ml-4" %></td>
        </tr>
        <tr>
          <td><%= f.label :name,"Nick Name",class:"lead mt-2" %><br>
          <%= f.text_field :name,size: "35",class:"ml-4" %></td>
        </tr>
        <tr>
          <td><%= f.label :user_name,"User Name",class:"lead mt-2" %><br>
          <%= f.text_field :user_name,size: "35",class:"ml-4" %></td>
        </tr>
        <tr>
          <td><%= f.label :introduction,"Introduction",class:"lead ,mt-2" %><br>
          <%= f.text_area :introduction, size: "35x5",class:"ml-4" %></td>
        </tr>
        <tr>
          <td><%= f.label :eamil,"Email",class:"lead ,mt-2" %><br>
          <%= f.text_field :email,size: "35",class:"ml-4" %></td>
        </tr>
        <tr>
          <td><%= f.submit"Edit",class:"btn btn-outline-dark btn-sm px-4 d-block mx-auto" %></td>
        </tr>
      </table>  
     <% end %>
    </div>
  </div>
</div>