<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-3  col-sm- ml-3">
      <div class="ml-3 h3">
      <%= image_tag @poster. get_image(10,10),:size => '120x120',class:"mt-3 mr-5 mb-4 rounded-circle" %>
       <%= @poster.user_name %>
      </div>
    </div>
      <div class="col-lg-6 col-md-7 mt-5">
        <table>
          <thead>
          <th class="text-center border-right h3"><%= link_to poster_follow_path(@poster.id),class:"text-dark text-decoration-none" do %>
          <%= @poster.followers.count %><br>
          <p class="h6 px-4 text-secondary">フォロー中</p><% end %></th>
          <th class="text-center border-right h3"><%= link_to poster_follower_path(@poster.id),class:"text-dark text-decoration-none" do %>
          <%= @poster.followings.count %>
          <p class="h6 px-4 text-secondary">フォロワー</p><% end %></th>
          <th class="text-center h3"><%= link_to favorites_poster_path(@poster),class:"text-dark text-decoration-none" do %>
          <%= @poster.favorites.count %>
          <p class="h6 px-2 text-secondary">いいね数</p><% end %></th>
           <% if @poster.user_name != "@guest" %>
             <% if current_poster == @poster %>
              <th class="pl-1"><%= link_to edit_poster_path,class:"btn btn-outline-dark" do %>
              <i class="fa-solid fa-gear h5 mt-2"></i>
             <% end %></th>
              <th><%= link_to new_post_photo_path,class:"btn btn-white" do %>
              <i class="fa-solid fa-circle-plus h3 text-dark mt-2 ml-2"></i><% end %></th>
             <% end %>
           <% end %>
          </thead>
        </table>
      </div>
    </div>
   </div>
      <div class="row">
        <div class="col-12 ml-5">
         <span class="h4 mt-0">
         <%= @poster.name %>
         </span>
         <% if current_poster.user_name != "@guest" %>
           <% if current_poster != @poster %>
             <% if current_poster.following?(poster) %>
              <%= link_to "フォロー解除", poster_relationships_path(@poster.id), method: :delete,class:"btn btn-outline-info ml-3" %>
             <% else %>
              <%= link_to "フォローする", poster_relationships_path(@poster.id), method: :post,class:"btn btn-outline-info ml-3" %>
             <% end %>
           <% end %>
         <% end %><br>

         <div class="mt-3">
         <%= @poster.introduction %>
         <br>
         </div>
      <% @poster.post_photos.each do |post_photo| %>
      <%= link_to post_photo_path(post_photo.id) do %>
      <%= image_tag post_photo.get_image(100,100),:size => '220x140',class:"mt-4" %><% end %>
      <% end %>
        </div>
      </div>
</div>