<!DOCTYPE html>
<html>
  <head>
    <title>POTORE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/936e751774.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-light">
    <header class="shadow-sm ">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary py-4">
      <div class=container>
        <a class="navbar-brand" href="/post_photos"><span class="text-light lead">POTORE</span></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                       aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">


      <% if poster_signed_in? %>
      <li class="nav-item" >
         <%= link_to "My page",poster_path(current_poster), class:"btn btn-outline-light mr-2 mb-2" %>
        </li>
      <li class="nav-item">
        <%= link_to "Search",posters_path,class:"btn btn-outline-light mr-2 mb-2"  %>
        </li>
      <li class="nav-item">
        <%= link_to "Post a photo",post_photos_path, class:"btn btn-outline-light mr-2 mb-2" %>
      </li>
      <% if unchecked_notifications.any? %>
       <i class="fa fa-circle" style="color: lightpink;"></i>
      <% end %>
      <li class="nav-item">
        <%= link_to "Notification",notifications_path , class:"btn btn-outline-light mr-2 mb-2"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Log out",destroy_poster_session_path,method: :delete , class:"btn btn-outline-light mr-2 mb-2"  %>
      </li>
      <% elsif admin_signed_in? %>

      <li>
        <%= link_to "User List",admin_posters_path ,class:"btn btn-outline-light mr-2 mb-2" %>
        </li>
        <li>
          <%= link_to "Post List",admin_post_photos_path,class:"btn btn-outline-light mr-2 mb-2" %>
        </li>
        <li>
        <%= link_to "Reports",admin_reports_path,class:"btn btn-outline-light mr-2 mb-2" %>
        </li>
        <li>
          <%= link_to "Log out",destroy_admin_session_path,method: :delete ,class:"btn btn-outline-light mr-2 mb-2" %>
        </li>
      <% else %>

      <li class="nav-item">
       <%= link_to "Top",root_path,class:"btn btn-outline-light mr-2 mb-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up",new_poster_registration_path, class:"btn btn-outline-light mr-2 mb-2" %>
      </li>
      <li class="nav-item">
      <%= link_to "Log in",new_poster_session_path, class:"btn btn-outline-light mr-2 mb-2" %>
      </li>
      <% end %>

      </ul>
      </div>
      </div>
    </nav>
    </header>
    <%= yield %>
    
  </body>
</html>
