<!DOCTYPE html>
<html>
  <head>
    <title>POTORE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/936e751774.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-light">
    <header class="shadow-sm sticky-top">
    <nav class="navbar navbar-expand navbar-light bg-light py-4">
      <div class=container>
        <a class="navbar-brand" href="/post_photos"><span class="text-dark lead">POTORE</span></a>
        <!--<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                       aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>-->
        </button>
          <ul class="navbar-nav ml-auto">


      <% if poster_signed_in? %>
        <div class="d-none d-md-block">
        <% if unchecked_notifications.any? %>
         <i class=" top-0 position-absolute start-100 translate-middle border border-light rounded-circle bg-warning p-2 " style="color: lightpink;"></i>
      <% end %>

        <%= link_to "Notification",notifications_path , class:"btn btn-outline-dark mr- mb-2 position-relative" %>
        <%= link_to "log out",destroy_poster_session_path,method: :delete , class:"btn btn-outline-dark ml-4 mb-2" %>
    
        </div>
      <span class="d-md-none ">
        <% if unchecked_notifications.any? %>
       <i class=" top-0 position-absolute start-100 translate-middle border border-light rounded-circle bg-warning p-2 " style="color: lightpink;"></i>
      <% end %>
        <%= link_to notifications_path , class:"btn btn-outline-dark mr-1 mb-2 position-relative" do %>
        <i class="fa-solid fa-bell"></i>
        <% end %>
        <%= link_to destroy_poster_session_path,method: :delete , class:"btn btn-outline-dark ml-4 mb-2" do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </span>
      <% elsif admin_signed_in? %>

      <li>
        <%= link_to "UserList",admin_posters_path ,class:"btn btn-outline-secondary mr-2" %>
        </li>
        <li>
          <%= link_to "PostList",admin_post_photos_path,class:"btn btn-outline-secondary mr-2" %>
        </li>
        <li>
        <%= link_to "Reports",admin_reports_path,class:"btn btn-outline-secondary mr-2" %>
        </li>
        <li>
          <%= link_to "Logout",destroy_admin_session_path,method: :delete ,class:"btn btn-outline-secondary mr-2" %>
        </li>
      <% else %>

       <%= link_to "Top",root_path,class:"btn btn-outline-secondary mr-2" %>
        <%= link_to "Sign up",new_poster_registration_path, class:"btn btn-outline-secondary mr-2" %>
      <%= link_to "Log in",new_poster_session_path, class:"btn btn-outline-secondary mr-2" %>
      <% end %>

      </ul>
      </div>
      </div>
    </nav>
    </header>
    <main class="mb-5 pb-5">
    <%= yield %>
    </main>
    <footer class="bg-light text-white  fixed-bottom mt-3 py-0 border-top">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 d-flex justify-content-around">
            <nav class="navbar navbar-expand navbar-light bg-light pt-2">
              <ul class="navbar-nav ml-auto ">
              <% if poster_signed_in? %>
                <li class="nav-item" >
                   <%= link_to poster_path(current_poster), class:" mr-4 " do %>
                   <%= image_tag current_poster.get_image,:size => '40x40',class:"rounded-circle" %>
                   <% end %>
                  </li>
                <li class="nav-item">
                  <%= link_to posters_path,class:"btn btn-outline-dark mx-4 " do  %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                  </li>
                  
                  <% if current_poster.user_name != "@guest" %> 
                <li class="nav-item">
                  <%= link_to new_post_photo_path,class:"btn mr-2 " do  %>
                  <i class="fa-solid fa-circle-plus  fa-2x"></i>
                  <% end %>
                </li>
                <% end %>
                <li class="nav-item" >
                  <%= link_to post_photos_path, class:"btn btn-outline-dark mx-4 " do %>
                  <i class="fa-solid fa-images"></i>
                  <% end %>
                </li>
                <% if current_poster.user_name != "@guest" %>
                <li class="nav-item">
                  <%= link_to edit_poster_path(current_poster) , class:"btn btn-outline-dark ml-4 " do %>
                  <i class="fa-solid fa-user-gear"></i>
                  <% end %>
                </li>
                <% end %>
              <% end %>
              </ul>
              </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
